* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
a{
  text-decoration:none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
/* header */
header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 6rem;
}
ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 6rem;
}
.logo > img {
  height: 6rem;
}
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.nav > li {
  margin: 0 1rem;
}
.nav > li > a {
  font-size: 1.2rem;
}
.navPrj {
  background: linear-gradient(45deg, #ec6ead, #3494e6);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.nav > li:last-child {
  margin: 0;
  margin-left: 1rem;
}
.navCon{
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
/* intro */
#intro {
  height: 80vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
#my-name {
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
/* project */
#project {
  background: linear-gradient(45deg, #ec6ead, #3494e6);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#project > .prj {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
#project > .prj > .card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#project > .prj > .card > .techStack {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}
#project > .prj > .card > a {
  max-width: 40rem;
  max-height: 30rem;
  width: 20rem;
  height: 15rem;
}
#project > .prj > .card > a > img {
  max-width: 40rem;
  max-height: 30rem;
  width: 20rem;
  height: 15rem;
  object-fit: cover;
}
#project > .prj > .techStack {
  border: 5px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
/* about */
#about {
  height: 100vh;
  padding: 5rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#about > .bio {
  display: block;
  margin: 0 auto;
  padding: 0 4rem;
}
#about > .bio > p {
  margin-bottom: 1rem;
}
/* contact */
#contact {
  height: 50vh;
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  display: flex;
  flex-direction: column;
  justify-content:center;
}
/* footer */
footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 4rem;
}
footer > .social {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 2rem;
}
.cv {
  display: flex;
  align-items: center;
}
footer > .social > .cv {
  font-size: 2rem;
}
footer > .back {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 6rem;
  width: 100%;
  margin: 0 auto;
}