* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  /* max-width: 1500px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
a {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
h1 {
  line-height: 4.5rem;
  font-size: 4rem;
}
h2 {
  line-height: 3.5rem;
  font-size: 3rem;
}
h3 {
  line-height: 2.5rem;
  font-size: 2rem;
}
/* header */
header {
  position: absolute;
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo {
  height: 6rem;
  border: 1px solid black;
}
.logo > img {
  height: 6rem;
}
.nav {
  right: 1rem;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.nav > li {
  margin: 0 1rem;
}
.nav > li > a {
  font-size: 1.2rem;
  font-weight: 600;
}
.cv {
  display: flex;
  align-items: center;
}
.navPrj {
  background: linear-gradient(45deg, #ec6ead, #3494e6);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.nav > li:last-child {
  margin: 0;
  margin-left: 1rem;
}
.navCon {
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
/* intro */
#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro > h1 {
  text-align: left;
  margin: 0 1rem;
}
#minju-kim {
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
#web-apps {
  background: linear-gradient(45deg, #ec6ead, #3494e6);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
#intro > .minju-who {
  font-weight: 600;
  position: absolute;
  bottom: 1rem;
}
/* project */
#project {
  background: linear-gradient(45deg, #ec6ead, #3494e6);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#project > .prj {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
#project > .prj > .card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
#project > .prj > .card > .techStack {
  display: flex;
  gap: 1rem;
}
/* prjoect img link */
#project > .prj > .card > a {
  max-width: 40rem;
  max-height: 30rem;
  width: 25rem;
  height: 20rem;
}
#project > .prj > .card > a > img {
  max-width: 40rem;
  max-height: 30rem;
  width: 25rem;
  height: 20rem;
  object-fit: cover;
}
#project > .prj > .card > .description {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
#project > .prj > .card > .description > p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 500;
}
/* about */
#about {
  height: 100vh;
  padding: 5rem 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#about > .bio {
  display: block;
  margin: 0 auto;
  max-width: 50rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
#about > .bio > p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 500;
}
/* contact */
#contact {
  height: 70vh;
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#contact > .email {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}
#contact > .email > a {
  font-weight: 700;
}
#contact > .email :hover {
  cursor: pointer;
}
#contact > .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
/* footer */
footer {
  position: absolute;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer > .back {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 6rem;
  width: 100%;
  margin: 0 auto;
}
footer > .portfolio {
  position: absolute;
  font-weight: 600;
  bottom: 1rem;
}
