* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* header */
header{
  height: 10vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  padding: 0 2rem;
}
ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.logo {
  height: 4rem;
}
.logo > img {
  height: 4rem;
}
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.nav > li {
  margin: 0 1rem;
}
.nav > li:last-child {
  margin: 0;
  margin-left: 1rem;
}
.nav > li > a {
  text-decoration : none;
}
.nav > li > a, a:visited, a:hover, a:active {
  color: inherit;
}
/* intro */
#intro{
  height: 90vh;
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items:center;
}
#intro > h1 {
  /* border: 5px solid black; */
  margin-bottom: 4rem;
}
#my-name{
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
/* about */
#about  {
  padding: 5rem 0;
  background: linear-gradient(45deg, #ee0979, #ff6a00);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#about  > a{
  max-width: 15rem;
  min-height: 24rem;
}
#about  > a > img {
  max-width: 15rem;
  min-height: 24rem;
  object-fit: cover;
}
#about  > .bio {
  display: block;
  margin :0 auto;
  padding: 0 4rem;
}
#about  > .bio > p {
  margin-bottom :1rem;
}
/* project */
#project {
  background: linear-gradient(45deg, #ec6ead, #3494e6);
  padding: 5rem 0;
}
#project > .prj {
  padding: 2rem;
  max-width: 1280px;
  width: 100%;
  border: 5px solid black;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  align-items: flex-start;
  gap: 1rem;
}
#project > .prj > div > a   {
  max-width: 40rem;
  max-height: 30rem;
  width: 20rem;
  height: 15rem;
}

#project > .prj >div > a > img{
  max-width: 40rem;
  max-height: 30rem;
  width: 20rem;
  height: 15rem;
  object-fit: cover;
}